body {
    font-family: Arial, Helvetica, sans-serif;
    background: lightgray;
}
h1 {
    color: slateblue
}

h2, p, .readme-wrapper {
    text-align: center;
}
a {
    text-decoration: none;
    color: teal;
}
a:hover {
    cursor: pointer;
    font-weight: bold;
    color: purple;
}
.boxes {
    margin: 1em;
    padding: 1em;
    border: 5px orange solid;
    border-radius: 15px;
    width: 30em;
    display: block;
}
.photo {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background: gray;
    position: absolute;
    left: 100px;
}

#boxA {
    background: lightsalmon;
}

#boxB {
    background: lightsteelblue;
}

#boxC {
    background: peru;
}

#boxD {
    background: wheat;
}

.original {
    color: brown;
}

.additional {
    color: palevioletred;
}

#show1 {
    color: yellow;
}

#show2 {
    color: hotpink;
}

#show3 {
    color: seagreen;
}

#show4 {
    color: dodgerblue;
}

#show5 {
    color: burlywood;
}

.list {
    color: khaki;
}

.star {
    color: aqua;
}

#wars {
    color: aquamarine;
}