body {
    font-family: Arial, Helvetica, sans-serif;
    background: lightgray;
}

h2, p, .readme-wrapper {
    text-align: center;
}
a {
    text-decoration: none;
    color: teal;
}
a:hover {
    cursor: pointer;
    font-weight: bold;
    color: purple;
}
.boxes {
    margin: 1em;
    padding: 1em;
    border: 5px orange solid;
    border-radius: 15px;
    width: 30em;
    display: block;
}
.photo {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background: gray;
    position: absolute;
    left: 100px;
}

#boxA {
    background: lightsalmon;
}

#boxB {
    background: lightsteelblue;
}

#boxC {
    background: peru;
}

#boxD {
    background: wheat;
}
